.sidebar-component{
    min-height: 100vh;
    font-size: 1.5rem;
    border: 1px solid black;
}

.sidebar{
    position: sticky;
    top: 0;
    
    display: inline-block;
    padding: 10px;
    height: 100vh;
    width: 250px;
    /* overflow: hidden; */
    padding-top: 20%;
}
.sidebar-item{
    margin-bottom: 15px;
    padding: 5px 0px;
}a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

.sidebar-component i{
    padding-left: 5px;
}
.sidebar-item:hover{
    background-color: rgb(206, 224, 224);
}
.sidebar-title{
    padding-top: 20%;
    padding-left: 15px;
}span{
    padding-left: 10px;
}