.cart-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.cart-wrapper h1{
    text-align: center;
    margin-bottom: 20px;
}

.cart-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    font-weight: bold;

    background-color: white;
    box-shadow: 0px 6px 8px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cart-total p{
    padding: 12px;
    margin: 0px;
}