.preview-card{
    margin:10px;
    padding: 10px;
    padding-bottom: 2px;
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    width: 31%;
}

@media (max-width: 920px){
    .preview-card{
        width: 45% !important;
    }
    
}
@media (max-width: 600px) {
    .preview-card{
        width: 100% !important;
    }

}
.preview-card .card-img-top{
    height: 400px;
    object-fit: cover;
    /* object-position: 0px -70px;// */
}

.prev-card-btn{
    position: relative;
}

.prev-card-btn .btn-primary{
    position: absolute;
    bottom: 12px;
    right: 10px;
}
.preview-card .card-title{
    font-size: 1.3rem ;
    /* font-weight: 400;/s */
}
.preview-card .card-subtitle{
    font-weight: 400;
}

.preview-card .price{
    font-size: 1.3rem;
    /* font-weight: 500; */

}