.header{    
    border: 1px solid black;
    /* position: fixed; */
    width: 100%;
}
.header-title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
.search-bar input{
    border: 0px;
    border-radius: 20px;
    background-color: aqua;
    height: 40px;
    width: 500px;
    padding-left: 20px;
}
.logo img{
    height: 125px;
    width: auto;
    cursor: pointer;
    scale: 125%;
}

.utility{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    align-items: center;
    margin-right: 30px;
}
.utility .cart{
    color: black;
}
.utility button{
    border:none;
    background-color: white;
    /* margin: 0px 20px; */
    /* font-size: 1.2rem; */
    font-weight: 500;
}

.category-list{
    display: flex;
    justify-content: center;
    border-top: 0.5px solid black;
}
.category-list .btn{
    background-color: white;
    color: black;
    opacity: 75%;
    border: none;
    /* font-weight: 500; */
    border-radius: 0px;
    height: 50px;
    width: 125px;
}

.category-list .btn:hover{
    background-color: rgb(115, 183, 231);
    text-decoration: underline;
    font-weight: 700;
    border-bottom: 2px solid black;
}
.cat-wrapper {
  position: relative;
}

.sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px;
    width: 600px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 999;
}

.cat-wrapper:hover .sub-menu{
    display: block;
}
.submenu-content {
  display: flex;
  gap: 20px;
}