.checkout-wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.checkout-wrapper .title{
    display: flex; 
    width: 80%;
    font-size: 2.5rem;
    font-weight: 650;
}

.checkout-container{
    width: 80%;
    padding-bottom: 100px;
    background-color: rgb(240, 233, 233);
    padding: 20px;
}

.checkout-cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px ;
}

.checkout-cart-img{
    display: flex;
    /* padding: 10px; */
    gap: 20px;
}
.checkout-cart-desc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.checkout-cart-img img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.checkout-total{
    display: flex;
    justify-content: space-between;
    /* margin: 10px 20px; */
    font-size: 22px;
    font-weight: 500;
    border-top: 0.5px solid black ;
    border-bottom: 0.5px solid black ;
}

.form-control{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.form-top{
    display: flex;
    justify-content: space-between;
}

.address-card{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid black;
    position: relative;
}
.saved-address{
    display: flex;
}
.address-card p{
    margin: 0px;
}

.select-address-checkbox{
    position: absolute;
    top: 5px;
    right: 10px;
}]