.confirm-wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.confirm-wrapper .title{
    display: flex; 
    width: 80%;
    font-size: 2.5rem;
    font-weight: 650;
}

.confirm-container{
    /* display: flex; */
    width: 50%;
    padding-bottom: 100px;
    padding: 20px;
   
}

.confirm-cart-item{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 10px;
    padding-bottom: 5px ;
}

.checkout-cart-img{
    display: flex;
    /* padding: 10px; */
    gap: 10px;
}
.checkout-cart-desc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.checkout-cart-img img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.confirm-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
    padding: 0px 10px; 
    font-size: 22px;
    font-weight: 500;
    border-top: 0.5px solid black ;
    border-bottom: 0.5px solid black ;
}

.cofirm-item-name{
    font-size: 16px;
    margin: 0px;
}
.confirm-item-quantity{
    margin: 0px;
    font-size: 16px;
}
.address{
    font-size: 16px;
    font-weight: 500;
    opacity: 75%;
}
.address p{
    margin: 0px;
}


.confirm-card{
    background-color: rgb(240, 233, 233);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    position: relative;
    /* flex-direction: column; */
}
.confirm-cart{
    width: 40%;
    border-right: 0.5px solid black;
    margin-right: 10px;
}
.order-status{
    position: absolute;
    top: 12px;
    right: 16px;
    font-weight: 600;
    font-size: 14px;
}

.thankyou-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}