.homepage-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}


.cara {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
}


.cara .swiper-slide img {
    width: 100%;
    height: auto;
    display: block; 
}
.announcement-card {
  padding: 0;
  margin: 20px 0;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50%);
}

.announcement-card .banner {
  width: 100vw;
  max-width: 100vw;
  display: block;
  height: auto;
}

.logo-overlap{
    position: absolute;
    z-index: 999;
    top:50%;
    transform: translateY(-50%);
    right:7%;
}
.logo-overlap img{
    height: 250px;
}

.bestsellers{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.bestsellers .title{
    font-size: 1.5rem;
    opacity: 80%;
    margin-left: 60px;
}

.bestsellers-catalog{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.bestsellers-catalog .preview-card{
    width: 22%;
}

/* @media (max-width: 920px){
    .preview-card{
        width: 45% !important;
    }
    
}
@media (max-width: 480px) {
    .preview-card{
        width: 100% !important;
    }

} */