.signup-wrapper{
    display:flex;
    background-color:#0F0F0F;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
}

.signup-container{
    border-radius: 10px;
    width: 400px;
    height: 350px;
    background-color: #181818;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px -2px 100px rgba(248, 246, 246, 0.2);    
}
.signup-container .logo{
    scale: 200%;
    padding-top: 20px;
}
.signup-container h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.3rem;
}
.signup-container .btn-primary{
    width: 100%;
    margin-top: 20px;
}
.signup-container .form-control{
    background-color: #111111;
    color: antiquewhite;
    padding-left: 40px;  
}
.signup-container .form-control::placeholder{
    color: whitesmoke;
    opacity: 75%;
}

.input-field{
    position: relative;
}
.input-field .logo{
    position: absolute;
    scale: 140%;
    left: 6%;
    top: 50%;
    transform: translateY(-65%);
    height: auto;
    width: auto;
}

.pw-field{
    position: relative;
}
.pw-field span{
    position: absolute;
    top: 50%;
    right: 8%;
    height: auto;
    width: auto;
    transform: translateY(-50%);
}